*{margin:0;
  padding:0;
  box-sizing:0;}

body{
  background-color: #000;
  color:#fff;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  }
#employees{
  margin-top:20px;
  height: 250px;
  font-family: 'Audiowide', cursive;
  }


#count-sum{
cursor: pointer;
font-family: 'Audiowide', cursive;
background-color: #000;
border: none;
font-size: 20px;
color: #fff;
text-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0fa,
    0 0 80px #0fa,
    0 0 90px #0fa,
    0 0 100px #0fa,
    0 0 150px #0fa;
}

#count-sum:hover{
text-shadow: 0 0 7px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #f0a,
    0 0 80px #f0a,
    0 0 90px #f0a,
    0 0 100px #f0a,
    0 0 150px #f0a;
}
